body{
    background-color:#66D0FF;
}

.cloud {
	width: 100%; height: 120px;
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	margin: 120px auto 0px;
    text-align: center;
    padding-right: 8px;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud:after {
	width: 30%; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.container {
  position: relative;
  width: 100%;
  height: 101vw;
  padding-top: 20%;
  margin: auto auto;
  /* background-color: red; */
  /* z-index: -10; */
}

.cloud:before {
	width: 50%; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

  .textBox{
    position: relative;
    top: 32%;
    width: 100%;
    text-align: center;
    /* right: 50%; */
    font-size: 9vw;
    z-index: 950;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position:fixed;
    top:0;
    left: 0;
    margin-bottom: 500px;
    width:100%;
    z-index:100;
  }
  .topnav a {
    float: left;
    /* color: #f2f2f2; */
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
     color: #FFB01F;
    text-align: center;
    padding-top: 14px;
    height: 5vh;
    /* margin-bottom: 100px; */
    width: 33.33%;
    text-decoration: none;
    /* font-size: 24px; */
  }
  
  .topnav a:hover {
    background-color: rgba(221, 221, 221, 0.65);
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    color: #FFB01F;
  }
  
  .topnav a.active {
    background-color: gray
  }
  

  .land {
    width: 100%; height: 120px;
    
    background: #836539;
    background: linear-gradient(top, #836539 5%, #69512e 100%);
    background: -webkit-linear-gradient(top, #836539 5%, #69512e 100%);
    background: -moz-linear-gradient(top, #836539 5%, #69512e 100%);
    background: -ms-linear-gradient(top, #836539 5%, #69512e 100%);
    background: -o-linear-gradient(top, #836539 5%, #69512e 100%);
    
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    
    position: relative;
    margin: 120px auto 0px;
      text-align: center;
      padding-right: 8px;
  }
  
  .land:after, .land:before {
    content: '';
    position: absolute;
    background: green;
    z-index: -1
  }
  .land:before {
    width: 50%; height: 180px;
    top: -90px; right: 50px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
  }
  .land:after {
    width: 30%; height: 100px;
    top: -50px; left: 50px;
    
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }


.aboutMeBody{
  background-color: #282828;
  color: #FFB01F;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.topic{
  text-align: center;
}

.subTopic{
  text-align: center;
  padding: 0.5vh;
  font-size: 150%;
}

.links{
  margin-top: 5vh;
  /* margin-bottom: vh; */
  text-align: center;
  display: inline-block;
  width: 49.5%;
}

.header {
  position: relative;
  top: 5vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-size: 5vw;
  text-align: center;
  background: #595959;
  font-family: "Orbitron", sans-serif;
  color: #FFB01F;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000;
}

.spacer{
  padding-bottom: 15%;
  /* background-image: url('/img/test2.jpg'); */
  /* background-image: linear-gradient(#282828,#282828,#282828,#FF2600, #282828,#282828,#282828); */
  background-color: #282828;
}

/* Create three unequal columns that floats next to each other */
.column {
  padding: 3vh 5vw;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.spacerText{
  position: relative;
  top: 13vh;
  padding: -20%;
  text-align: center;
  font-size: 3vw;
}

.projectText{
  font-size: 2vh;
  color: rgb(219, 219, 219);
  color: #FFB01F;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
  text-indent: 5%;
}

.paragraphSpacer{
  padding-bottom: 5%;
  /* background-color: #282828;  */
}

.topSpacer{
  padding-bottom: 3%;
  /* background-color: #282828;  */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}