* {
  box-sizing: border-box;
}

.loader {
  position: fixed;
  background-color: #FFF;
  opacity: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
/* Add a gray background color with some padding */
.body {
  font-family: Arial;
  padding: 60px;
  /* background: #ffbf47; */
  background-image: url('/img/bg.png');
  
  /* background-size: auto; */
}

/* html{
  background: url("/img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-size: 100% 100%;

} */

* {
  margin: 0;
  padding: 0;
}

.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.face{
  position: absolute;
  left: 100px;
  top: 150px;
}

/* Header/Blog Title */
.header {
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
  background: #595959;
  /* background-image: url('/img/test.jpg'); */
  font-family: "Orbitron", sans-serif;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   /* background-color: #FFFAE3; */
   /* background-image: linear-gradient(#04407E, #05518D,#05518D,#05518D,#05518D, #04407E); */
   /* background-image: linear-gradient(#05518D, #04407E,#04407E,#04407E,#04407E,#05518D); */
   background-color: #333333;
   color: #FFB01F;
   padding: 20px;
   font-family: myFirstFont;
   /* margin-top: 20px; */
}

h2{
  font-size: 4vw;
}

@font-face {
  font-family: myFirstFont;
  src: url('https://fonts.googleapis.com/css?family=Orbitron');
}

.ghostBox {
  width: 100%;
  height: 350px;
}

.leftBox{
  float: left;
  height: 350px;
  width: 75%;
  background-color: green;
}

.rightBox{
  float: right;
  height: 350px;
  width: 75%;
  background-color: red;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #595959;
  /* margin-top: 20px; */
}

.lineBreak{
  padding: 3%;
  width: 100%;
  height: 2%;
  /* background-color: navajowhite; */
}

.indent{
  padding-left: 10%;
}

.projectCard{
  width: 100%;
}

.spacer{
  padding-bottom: 15%;
  /* background-image: url('/img/test2.jpg'); */
  /* background-image: linear-gradient(#282828,#282828,#282828,#FF2600, #282828,#282828,#282828); */
  background-color: #282828;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  z-index:100;
}

.homeBody{
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-color: pink;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  width: 33.33%;
  text-decoration: none;
  /* font-size: 24px; */
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: gray
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
